/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* https://fonts.google.com/selection/embed */
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Sunflower:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "42dot Sans", sans-serif;
}

.dummy {
  width: min-content;
  justify-content: space-evenly;
  border-top-left-radius: ;
}